.header{
  background-color:var(--rojoPokemon);
  height: var(--altura60);
  width: 100vw;
  color:  white;
  font-size: 20px;
}
.header a{
  text-decoration: none;
  color:white;
  font-size: 25px;
  margin-inline: 15px;
}